<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On

    # Si le fichier ou dossier existe, servir directement
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Sinon, passer à Symfony
    RewriteRule ^ index.php [QSA,L]
</IfModule>
