<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On

    # Serve les fichiers publics directement
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Le reste va à Symfony
    RewriteRule ^ index.php [QSA,L]
</IfModule>
